.userlist {
    text-align: center;
}

.userlist ul li img, p {
    display: inline-block;
    margin: 5px;
}

#btnBlock {
    background-color: orange;
    color: white;
}

#btnReport {
    background-color: red;
    color: white;
}
