body{
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav ul{
    background-color: deepskyblue;
}

.nav ul li{
  display: inline;
  float: left
}
.nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 3px solid deepskyblue;
}

.nav ul li a:hover{
  border: 3px solid black;
  color: black;
}

.page {
   margin: 5px
}

.friendslist{
    height: auto;
    max-height: 70vh;
    width: 175px;
    border: 3px solid deepskyblue;
    text-align: center;    
    float: left;
}

.friendslist ul {
    overflow-y: scroll;
}

.friendslist ul li{
    margin: 5px;
}

.friendslist ul li a{
    text-decoration: none;
    color: black;
}

.convo {
    max-height: 70vh;
    width: 70vh;
    border: 3px solid deepskyblue;
    float: right;
    margin-right: 50px;
}

.convo form {
    width: 60vh;
    margin: 5px;
}

.message img {
    display: inline;
    margin: 5px;
}

.message p {
    display: inline;
    margin: 2px;
}

.msgBody {
    margin: 5px;
    border: 1px solid deepskyblue;
    width: 50vh;
    height: auto;
}

.sent {
    float: right;
    display: block;
}

.recieved {
    float: left;
    display: block;
}
