.friendslist{
    height: auto;
    max-height: 70vh;
    width: 10%;
    border: 1px solid white;
    text-align: center;
    float: left;
    margin: 5px;
}

.friendslist ul {
    overflow-y: scroll;
}

.friendslist ul li{
    margin: 5px;
}

.friendslist ul li a{
    text-decoration: none;
}

.convo {
    max-height: 90%;
    width: 85%;
    border: 1px solid white;
    float: right;
    margin-right: 50px;
}

.convo form {
    width: 85%;
    margin: 5px;
    float: right;
}

.message img {
    display: inline;
    margin: 5px;
}

.convo .sent p, .convo .recieved p {
    margin: 10px;
}

.msgBody {
    margin: 5px;
    width: 50vw;
    text-align: left;
    height: auto;
}

.sent {
    display: block;
    background-color: #457;
    text-align: right;
}

.recieved {
    display: block;
    background-color: #124;
}

.sent .message p {
  float: right;
}
#txtMessage {
  width: 80%;
}

#senderName {
  color: #DDD;
}
