body {
  /*changes the font to sans-serif for the entire site */
  font-family: sans-serif;
  background-color: white;
}

h1 {
  /*sets h1 text color to purple*/
  color: deepskyblue;
}

a {
  color: deepskyblue;
}

.nav {
  /*sets the nav bar to display in line along the top */
  display: inline;
}

.nav ul {
  /* removes the bullet points from the lists */
  list-style: none;
  /* removes the margin */
  margin: 0;
  /* removes the padding */
  padding: 0;
  /* tells the document to hide any overflow from sizing */
  overflow: hidden;
  /* sets the background color for list elements to #333 (dark grey) */
  background-color: #333;

  border: 4px solid #333;
}

.nav li {
  /* tells list items in the nav division ot float left */
  float: left;
}

.nav li a {
  /* sets display property to be block for links in lists in the nav division */
  display: block;
  /* sets link text within lists within the nav division to white */
  color: white;
  /* sets the text to allign in the centre of the block */
  text-align: center;
  /*sets the horizontal and vertical padding around the object */
  padding: 14px 16px;
  /* removes Underlining from the link text */
  text-decoration: none;
}

.nav li a:hover {
  /* Change the link color to #111 (black) on hover */
  background-color: #111;
}

.nav li.active a {
  /* Change the link color to deepskyblue on click */
  background-color: deepskyblue;
  color: black;
}
