/* style for friends page */
p {
    margin: 5px;
    display: inline;
}

#searchUsers, #searchFriends   {
  width: 100%;
  font-size: 2rem;
}

#userList, #friendList {
  width: 100%;
  height: auto;
  max-height: 132px;
  overflow-y: scroll;
}

#userList li, #friendList li {
  border: 1px solid #ddd;
  background-color: #457;
  margin: 5px;
}
