#txtPostBody{
  width: 100%;
  background-color: #235;
  color: white;
}

#txtPostBody::placeholder {
  color: #DDD;
}

.CreatePost input{
  margin: 5px;
  font-size: 1rem;
  width: 10%;
}

.wallPost ul li{
  margin: 3px;
}
