.profile {
  border: 3px solid #333;
  background-color: deepskyblue;
  text-align: left;
  margin-top: 5px;
  padding: 5px;
  width: 175;
  position: fixed;
  height: auto;
  overflow: auto;
}

.profile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
